* text=auto !eol
RegressionTests/BC1-1/BC1-1.in -text
RegressionTests/BC1-1/BC1-1.local -text
RegressionTests/BC1-1/BC1-1.rt -text
RegressionTests/BC1-1/BC1-1.sge -text
RegressionTests/BC1-1/F10BC-MB01.T7 -text
RegressionTests/BC1-1/reference/BC1-1.lbal -text
RegressionTests/BC1-1/reference/BC1-1.lbal.md5 -text
RegressionTests/BC1-1/reference/BC1-1.out -text
RegressionTests/BC1-1/reference/BC1-1.out.md5 -text
RegressionTests/BC1-1/reference/BC1-1.stat -text
RegressionTests/BC1-1/reference/BC1-1.stat.md5 -text
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.in -text
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.local -text
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.rt -text
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.sge -text
RegressionTests/DCGun-Cornell-1/data/dist.dat -text
RegressionTests/DCGun-Cornell-1/fieldgrid_1.t7 -text
RegressionTests/DCGun-Cornell-1/fieldgrid_2.t7 -text
RegressionTests/DCGun-Cornell-1/fieldgrid_3.t7 -text
RegressionTests/DCGun-Cornell-1/fieldgrid_4.t7 -text
RegressionTests/DCGun-Cornell-1/fieldgrid_5.t7 -text
RegressionTests/DCGun-Cornell-1/lat.opal -text
RegressionTests/DCGun-Cornell-1/lat.opal_particles -text
RegressionTests/DCGun-Cornell-1/reference/DCGun-Cornell-1.lbal -text
RegressionTests/DCGun-Cornell-1/reference/DCGun-Cornell-1.lbal.md5 -text
RegressionTests/DCGun-Cornell-1/reference/DCGun-Cornell-1.out -text
RegressionTests/DCGun-Cornell-1/reference/DCGun-Cornell-1.out.md5 -text
RegressionTests/DCGun-Cornell-1/reference/DCGun-Cornell-1.stat -text
RegressionTests/DCGun-Cornell-1/reference/DCGun-Cornell-1.stat.md5 -text
RegressionTests/DCGun-Cornell-1/timing.dat -text
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.in -text
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.local -text
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.rt -text
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.sge -text
RegressionTests/DCGun-Cornell-2/fieldgrid_1.t7 -text
RegressionTests/DCGun-Cornell-2/fieldgrid_2.t7 -text
RegressionTests/DCGun-Cornell-2/fieldgrid_3.t7 -text
RegressionTests/DCGun-Cornell-2/fieldgrid_4.t7 -text
RegressionTests/DCGun-Cornell-2/fieldgrid_5.t7 -text
RegressionTests/DCGun-Cornell-2/lat.opal -text
RegressionTests/DCGun-Cornell-2/lat.opal_particles -text
RegressionTests/DCGun-Cornell-2/reference/DCGun-Cornell-2.lbal -text
RegressionTests/DCGun-Cornell-2/reference/DCGun-Cornell-2.lbal.md5 -text
RegressionTests/DCGun-Cornell-2/reference/DCGun-Cornell-2.out -text
RegressionTests/DCGun-Cornell-2/reference/DCGun-Cornell-2.out.md5 -text
RegressionTests/DCGun-Cornell-2/reference/DCGun-Cornell-2.stat -text
RegressionTests/DCGun-Cornell-2/reference/DCGun-Cornell-2.stat.md5 -text
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.in -text
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.local -text
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.rt -text
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.sge -text
RegressionTests/Distribution-Binomial-1/reference/Distribution-Binomial-1.lbal -text
RegressionTests/Distribution-Binomial-1/reference/Distribution-Binomial-1.lbal.md5 -text
RegressionTests/Distribution-Binomial-1/reference/Distribution-Binomial-1.out -text
RegressionTests/Distribution-Binomial-1/reference/Distribution-Binomial-1.out.md5 -text
RegressionTests/Distribution-Binomial-1/reference/Distribution-Binomial-1.stat -text
RegressionTests/Distribution-Binomial-1/reference/Distribution-Binomial-1.stat.md5 -text
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.in -text
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.local -text
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.rt -text
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.sge -text
RegressionTests/Distribution-Gauss-1/reference/Distribution-Gauss-1.lbal -text
RegressionTests/Distribution-Gauss-1/reference/Distribution-Gauss-1.lbal.md5 -text
RegressionTests/Distribution-Gauss-1/reference/Distribution-Gauss-1.out -text
RegressionTests/Distribution-Gauss-1/reference/Distribution-Gauss-1.out.md5 -text
RegressionTests/Distribution-Gauss-1/reference/Distribution-Gauss-1.stat -text
RegressionTests/Distribution-Gauss-1/reference/Distribution-Gauss-1.stat.md5 -text
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.in -text
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.local -text
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.rt -text
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.sge -text
RegressionTests/Distribution-Gauss-2/reference/Distribution-Gauss-2.lbal -text
RegressionTests/Distribution-Gauss-2/reference/Distribution-Gauss-2.lbal.md5 -text
RegressionTests/Distribution-Gauss-2/reference/Distribution-Gauss-2.out -text
RegressionTests/Distribution-Gauss-2/reference/Distribution-Gauss-2.out.md5 -text
RegressionTests/Distribution-Gauss-2/reference/Distribution-Gauss-2.stat -text
RegressionTests/Distribution-Gauss-2/reference/Distribution-Gauss-2.stat.md5 -text
RegressionTests/EGunCTF3-1/CTF3_Ez_ASTRA.opal -text
RegressionTests/EGunCTF3-1/EGunCTF3-1.in -text
RegressionTests/EGunCTF3-1/EGunCTF3-1.local -text
RegressionTests/EGunCTF3-1/EGunCTF3-1.rt -text
RegressionTests/EGunCTF3-1/EGunCTF3-1.sge -text
RegressionTests/EGunCTF3-1/NEW_SINGLE_SOL_NOFRINGE_ASTRA.opal -text
RegressionTests/EGunCTF3-1/reference/EGunCTF3-1.lbal -text
RegressionTests/EGunCTF3-1/reference/EGunCTF3-1.lbal.md5 -text
RegressionTests/EGunCTF3-1/reference/EGunCTF3-1.out -text
RegressionTests/EGunCTF3-1/reference/EGunCTF3-1.out.md5 -text
RegressionTests/EGunCTF3-1/reference/EGunCTF3-1.stat -text
RegressionTests/EGunCTF3-1/reference/EGunCTF3-1.stat.md5 -text
RegressionTests/EGunCTF3-2/CTF3_Ez_ASTRA.opal -text
RegressionTests/EGunCTF3-2/EGunCTF3-2.in -text
RegressionTests/EGunCTF3-2/EGunCTF3-2.local -text
RegressionTests/EGunCTF3-2/EGunCTF3-2.rt -text
RegressionTests/EGunCTF3-2/EGunCTF3-2.sge -text
RegressionTests/EGunCTF3-2/NEW_SINGLE_SOL_NOFRINGE_ASTRA.opal -text
RegressionTests/EGunCTF3-2/reference/EGunCTF3-2.lbal -text
RegressionTests/EGunCTF3-2/reference/EGunCTF3-2.lbal.md5 -text
RegressionTests/EGunCTF3-2/reference/EGunCTF3-2.out -text
RegressionTests/EGunCTF3-2/reference/EGunCTF3-2.out.md5 -text
RegressionTests/EGunCTF3-2/reference/EGunCTF3-2.stat -text
RegressionTests/EGunCTF3-2/reference/EGunCTF3-2.stat.md5 -text
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.in -text
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.local -text
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.rt -text
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.sge -text
RegressionTests/Envelope-Tracker-Phase1/FIND1-MSOL10.T7 -text
RegressionTests/Envelope-Tracker-Phase1/FINSS-RGUN.dat -text
RegressionTests/Envelope-Tracker-Phase1/FinPhase1.phases -text
RegressionTests/Envelope-Tracker-Phase1/reference/Envelope-Tracker-Phase1.lbal -text
RegressionTests/Envelope-Tracker-Phase1/reference/Envelope-Tracker-Phase1.lbal.md5 -text
RegressionTests/Envelope-Tracker-Phase1/reference/Envelope-Tracker-Phase1.out -text
RegressionTests/Envelope-Tracker-Phase1/reference/Envelope-Tracker-Phase1.out.md5 -text
RegressionTests/Envelope-Tracker-Phase1/reference/Envelope-Tracker-Phase1.stat -text
RegressionTests/Envelope-Tracker-Phase1/reference/Envelope-Tracker-Phase1.stat.md5 -text
RegressionTests/ExternalFieldTest/CTF3_Ez_ASTRA.opal -text
RegressionTests/ExternalFieldTest/ExternalFieldTest.in -text
RegressionTests/ExternalFieldTest/ExternalFieldTest.local -text
RegressionTests/ExternalFieldTest/ExternalFieldTest.phases -text
RegressionTests/ExternalFieldTest/ExternalFieldTest.rt -text
RegressionTests/ExternalFieldTest/ExternalFieldTest.sge -text
RegressionTests/ExternalFieldTest/FIND1-MB01.T7 -text
RegressionTests/ExternalFieldTest/FINEG-ECAT.T7 -text
RegressionTests/ExternalFieldTest/FINEG-MSL10.T7 -text
RegressionTests/ExternalFieldTest/FINLB01-MSL.T7 -text
RegressionTests/ExternalFieldTest/FINLB01-RACF.T7 -text
RegressionTests/ExternalFieldTest/FINLB01-RACH.T7 -text
RegressionTests/ExternalFieldTest/FINLB02-MSLAC.T7 -text
RegressionTests/ExternalFieldTest/FINLB02-RAC.T7 -text
RegressionTests/ExternalFieldTest/FINSB-MSLAC.T7 -text
RegressionTests/ExternalFieldTest/FINSB-RAC.T7 -text
RegressionTests/ExternalFieldTest/FINXB-RAC.T7 -text
RegressionTests/ExternalFieldTest/NEW_SINGLE_SOL_NOFRINGE_ASTRA.opal -text
RegressionTests/ExternalFieldTest/reference/ExternalFieldTest.lbal -text
RegressionTests/ExternalFieldTest/reference/ExternalFieldTest.lbal.md5 -text
RegressionTests/ExternalFieldTest/reference/ExternalFieldTest.out -text
RegressionTests/ExternalFieldTest/reference/ExternalFieldTest.out.md5 -text
RegressionTests/ExternalFieldTest/reference/ExternalFieldTest.stat -text
RegressionTests/ExternalFieldTest/reference/ExternalFieldTest.stat.md5 -text
RegressionTests/FIELDMAPS/FIND1-MB01.T7 -text
RegressionTests/FIELDMAPS/FIND1-MB01_nofringe.T7 -text
RegressionTests/FIELDMAPS/FINEG-ECAT.T7 -text
RegressionTests/FIELDMAPS/FINEG-MSL10.T7 -text
RegressionTests/FIELDMAPS/FINLB01-MSL.T7 -text
RegressionTests/FIELDMAPS/FINLB01-RACF.T7 -text
RegressionTests/FIELDMAPS/FINLB01-RACH.T7 -text
RegressionTests/FIELDMAPS/FINLB02-MSLAC.T7 -text
RegressionTests/FIELDMAPS/FINLB02-RAC.T7 -text
RegressionTests/FIELDMAPS/FINSB-MSLAC.T7 -text
RegressionTests/FIELDMAPS/FINSB-RAC.T7 -text
RegressionTests/FIELDMAPS/FINXB-RAC.T7 -text
RegressionTests/LaserProfile_fixme/1T1.T7 -text
RegressionTests/LaserProfile_fixme/1T2.T7 -text
RegressionTests/LaserProfile_fixme/1T3.T7 -text
RegressionTests/LaserProfile_fixme/1T4.T7 -text
RegressionTests/LaserProfile_fixme/1T5.T7 -text
RegressionTests/LaserProfile_fixme/LaserEmission.in -text
RegressionTests/LaserProfile_fixme/LaserEmission.sge -text
RegressionTests/LaserProfile_fixme/NormalSave.h5 -text
RegressionTests/LaserProfile_fixme/QuickSave.h5 -text
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.in -text
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.local -text
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.rt -text
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.sge -text
RegressionTests/ParallelPlateFurman1/parallel-plat5mm-hut.h5 -text
RegressionTests/ParallelPlateFurman1/pplate_5mm.h5 -text
RegressionTests/ParallelPlateFurman1/reference/ParallelPlateFurman1.lbal -text
RegressionTests/ParallelPlateFurman1/reference/ParallelPlateFurman1.lbal.md5 -text
RegressionTests/ParallelPlateFurman1/reference/ParallelPlateFurman1.out -text
RegressionTests/ParallelPlateFurman1/reference/ParallelPlateFurman1.out.md5 -text
RegressionTests/ParallelPlateFurman1/reference/ParallelPlateFurman1.stat -text
RegressionTests/ParallelPlateFurman1/reference/ParallelPlateFurman1.stat.md5 -text
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.in -text
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.local -text
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.rt -text
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.sge -text
RegressionTests/ParallelPlateVaughan1/parallel-plat1mm-hut.h5 -text
RegressionTests/ParallelPlateVaughan1/pplate_1mm.h5 -text
RegressionTests/ParallelPlateVaughan1/reference/ParallelPlateVaughan1.lbal -text
RegressionTests/ParallelPlateVaughan1/reference/ParallelPlateVaughan1.lbal.md5 -text
RegressionTests/ParallelPlateVaughan1/reference/ParallelPlateVaughan1.out -text
RegressionTests/ParallelPlateVaughan1/reference/ParallelPlateVaughan1.out.md5 -text
RegressionTests/ParallelPlateVaughan1/reference/ParallelPlateVaughan1.stat -text
RegressionTests/ParallelPlateVaughan1/reference/ParallelPlateVaughan1.stat.md5 -text
RegressionTests/PerfectDiode/PerfectDiode.in -text
RegressionTests/PerfectDiode/PerfectDiode.local -text
RegressionTests/PerfectDiode/PerfectDiode.rt -text
RegressionTests/PerfectDiode/PerfectDiode.sge -text
RegressionTests/PerfectDiode/ideal-diode.T7 -text
RegressionTests/PerfectDiode/reference/PerfectDiode.lbal -text
RegressionTests/PerfectDiode/reference/PerfectDiode.lbal.md5 -text
RegressionTests/PerfectDiode/reference/PerfectDiode.out -text
RegressionTests/PerfectDiode/reference/PerfectDiode.out.md5 -text
RegressionTests/PerfectDiode/reference/PerfectDiode.stat -text
RegressionTests/PerfectDiode/reference/PerfectDiode.stat.md5 -text
RegressionTests/PerfectDiode/run -text
RegressionTests/RingCyclotron/Cav1.dat -text
RegressionTests/RingCyclotron/Cav3.dat -text
RegressionTests/RingCyclotron/RingCyclotron.in -text
RegressionTests/RingCyclotron/RingCyclotron.local -text
RegressionTests/RingCyclotron/RingCyclotron.rt -text
RegressionTests/RingCyclotron/RingCyclotron.sge -text
RegressionTests/RingCyclotron/reference/RingCyclotron.lbal -text
RegressionTests/RingCyclotron/reference/RingCyclotron.lbal.md5 -text
RegressionTests/RingCyclotron/reference/RingCyclotron.out -text
RegressionTests/RingCyclotron/reference/RingCyclotron.out.md5 -text
RegressionTests/RingCyclotron/reference/RingCyclotron.stat -text
RegressionTests/RingCyclotron/reference/RingCyclotron.stat.md5 -text
RegressionTests/RingCyclotron/s03av.nar -text
RegressionTests/Scan-1/1T1.T7 -text
RegressionTests/Scan-1/1T2.T7 -text
RegressionTests/Scan-1/1T3.T7 -text
RegressionTests/Scan-1/Scan-1.in -text
RegressionTests/Scan-1/Scan-1.local -text
RegressionTests/Scan-1/Scan-1.rt -text
RegressionTests/Scan-1/Scan-1.sge -text
RegressionTests/Scan-1/reference/Scan-1.lbal -text
RegressionTests/Scan-1/reference/Scan-1.lbal.md5 -text
RegressionTests/Scan-1/reference/Scan-1.out -text
RegressionTests/Scan-1/reference/Scan-1.out.md5 -text
RegressionTests/Scan-1/reference/Scan-1.stat -text
RegressionTests/Scan-1/reference/Scan-1.stat.md5 -text
RegressionTests/ctf3-injector_fixme/CTF3_Ez_ASTRA.opal -text
RegressionTests/ctf3-injector_fixme/FINSS-RGUN.dat -text
RegressionTests/ctf3-injector_fixme/FinPhase1.phases -text
RegressionTests/ctf3-injector_fixme/NEW_SINGLE_SOL_NOFRINGE_ASTRA.opal -text
RegressionTests/ctf3-injector_fixme/ReferenceParticles.dat -text
RegressionTests/ctf3-injector_fixme/TWS_PSI_Sband_ASTRA.opal -text
RegressionTests/ctf3-injector_fixme/compare.gpl -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/CTF3_Ez_ASTRA.dat -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.Log.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.Xemit.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.Xemit2.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.Yemit.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.Yemit2.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.Zemit.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.in -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.lowres.out -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.out -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K-nosc.ref.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Cathode.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Log.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Xemit.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Xemit2.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Yemit.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Yemit2.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.Zemit.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.in -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC200K.ref.001 -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/GUN5_5M9YAG200PC2K.in -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/Jacek.dat -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/NEW_SINGLE_SOL_NOFRINGE_ASTRA.dat -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/NORRAN.txt -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/Q200pC_th0p195um_XYrms270um_Tfwhm9p900ps_R&F0p7ps_200k.ini -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/Q200pC_th0p195um_XYrms270um_Tfwhm9p900ps_R&F0p7ps_2k.ini -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/bfld.dat -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/bunchgenerator200pC.in -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/efld.dat -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/generator.in -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/rfgun.in -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/rfgun.ini -text
RegressionTests/ctf3-injector_fixme/ctf3-gun-ASTRA/win_config.dat -text
RegressionTests/ctf3-injector_fixme/ctf3-injector-20100211-nosc.ap -text
RegressionTests/ctf3-injector_fixme/ctf3-injector-20100211-nosc.in -text
RegressionTests/ctf3-injector_fixme/ctf3-injector-20100211-sc-1.in -text
RegressionTests/ctf3-injector_fixme/ctf3-injector-20100211-sc-2.in -text
RegressionTests/ctf3-injector_fixme/ctf3-injector-20100211-sc-3.in -text
RegressionTests/ctf3-injector_fixme/run.sge -text
RegressionTests/run/README -text
RegressionTests/run/builder.py -text
RegressionTests/run/documentation.py -text
RegressionTests/run/email-list -text
RegressionTests/run/modules -text
RegressionTests/run/reg-tools/generate_regressiontest.py -text
RegressionTests/run/regressiontest.py -text
RegressionTests/run/reporter.py -text
RegressionTests/run/results.xslt -text
RegressionTests/run/run-reg-tests.py -text
RegressionTests/run/tools.py -text
