.keytab
*~
*.pyc
*.png

*_DesignPath.dat
*_ElementPositions.py
*_ElementPositions.sdds
*_ElementPositions.txt
*_Monitors.stat
*_3D.opal
*_DesignPath.dat
*_ElementPositions.py
*_ElementPositions.sdds
*_ElementPositions.txt
*_Monitors.stat
*_3D.opal

# For OPAL-maps
*.dispersion
*.map

RegressionTests/*/*-RT.o
RegressionTests/*/*.lbal
RegressionTests/*/*.out
RegressionTests/*/*.stat
RegressionTests/*/AMF*.h5
RegressionTests/*/KMA*.h5
RegressionTests/*/KMB*.h5
RegressionTests/*/M1*.h5
RegressionTests/*/MM*.h5
RegressionTests/*/MMF*.h5
RegressionTests/*/QMA*.h5
RegressionTests/*/QMF*.h5
RegressionTests/*/data
RegressionTests/*/errormsg.txt
RegressionTests/*/test.dat
RegressionTests/*/timing.dat

RegressionTests/results.xml
RegressionTests/results/
RegressionTests/timing.dat

RegressionTests/AWAGun-1/AWAGun-1.h5
RegressionTests/AWAGun-TrackBack-1/AWAGun-TrackBack-1.h5
RegressionTests/BC1-1_fixme/BC1-1.h5
RegressionTests/BeamLine-1/BeamLine-1.h5
RegressionTests/BeamLine-2/BeamLine-2.h5
RegressionTests/CSRBendDrift/CSRBendDrift.h5
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.h5
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.h5
RegressionTests/Degrader-1/Degrader-1.h5
RegressionTests/Degrader-1/M*.h5
RegressionTests/Degrader-2/Degrader-2.h5
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.h5
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.h5
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.h5
RegressionTests/EGunCTF3-1/EGunCTF3-1.h5
RegressionTests/EGunCTF3-2/EGunCTF3-2.h5
RegressionTests/Elliptic-1/ELCO.h5
RegressionTests/Elliptic-1/Elliptic-1.h5
RegressionTests/Elliptic-1/MELCO.h5
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.h5
RegressionTests/ExternalFieldTest/ExternalFieldTest.h5
RegressionTests/GasStripping/GasStripping-trackOrbit.dat
RegressionTests/GasStripping/GasStripping.h5
RegressionTests/HKick-Test-1/HKick-Test-1.h5
RegressionTests/HKick-Test-2/HKick-Test-2.h5
RegressionTests/Kick-Test-1/Kick-Test-1.h5
RegressionTests/LaserEmission-1/LaserEmission-1.h5
RegressionTests/MAP-Circular/MAP-Circular.h5
RegressionTests/MAP-FODO/MAP-FODO.h5
RegressionTests/MAP-FODODipole/MAP-FODODipole.h5
RegressionTests/MAP-Gantry2/MAP-Gantry2.h5
RegressionTests/OpalRingTest/OpalRingTest-trackOrbit.dat
RegressionTests/OpalRingTest/OpalRingTest.h5
RegressionTests/OpalRingTest/PROBE1.hist
RegressionTests/OpalRingTest/PROBE1.loss
RegressionTests/OpalRingTest/PROBE1.loss
RegressionTests/OpalRingTest/PROBE1.peaks
RegressionTests/OpalRingTest/RINGDEF.loss
RegressionTests/OpalRingTest/RINGDEF.loss
RegressionTests/PROSCAN-1/PROSCAN-1.h5
RegressionTests/PROSCAN-2/PROSCAN-2.h5
RegressionTests/PROSCAN-3/PROSCAN-3.h5
RegressionTests/PROSCAN-4/PROSCAN-4.h5
RegressionTests/PSIGUN-1/PSIGUN-1.h5
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.SurfaceLoss.h5
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.h5
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.h5
RegressionTests/PerfectDiode/PerfectDiode.h5
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1.h5
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1.lbal
RegressionTests/RBend-Simple-Test-1/RBend-Simple-Test-1.h5
RegressionTests/RBend-Simple-Test-2/RBend-Simple-Test-2.h5
RegressionTests/RBend-Simple-Test-3/RBend-Simple-Test-3.h5
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4.h5
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4.h5
RegressionTests/RestartTest-1/RestartTest-1.h5
RegressionTests/RestartTest-2/RestartTest-2-trackOrbit.dat
RegressionTests/RestartTest-2/RestartTest-2.h5
RegressionTests/RestartTest-3/RestartTest-3.h5
RegressionTests/RestartTest-4/RestartTest-4.h5
RegressionTests/RestartTest-5/RestartTest-5.h5
RegressionTests/RestartTest-6/RestartTest-6.h5
RegressionTests/RestartTest-6/RestartTest-6.h5
RegressionTests/RestartTest-6/RestartTest-6.h5.ref
RegressionTests/RestartTest-6/RestartTest-6.lbal.ref
RegressionTests/RestartTest-6/RestartTest-6.stat.md5
RegressionTests/RestartTest-6/RestartTest-6.stat.ref
RegressionTests/RestartTest-7/RestartTest-7.h5
RegressionTests/RestartTest-8/RestartTest-8.h5
RegressionTests/RingCyclotron/RingCyclotron-trackOrbit.dat
RegressionTests/RingCyclotron/RingCyclotron.h5
RegressionTests/RingCyclotronMTS/RingCyclotronMTS-trackOrbit.dat
RegressionTests/RingCyclotronMTS/RingCyclotronMTS.h5
RegressionTests/RingCyclotronMatched/RingCyclotronMatched-trackOrbit.dat
RegressionTests/RingCyclotronMatched/RingCyclotronMatched.h5
RegressionTests/RingCyclotronSingleParticle/RingCyclotronSingleParticle-Angle0.dat
RegressionTests/RingCyclotronSingleParticle/RingCyclotronSingleParticle-Angle1.dat
RegressionTests/RingCyclotronSingleParticle/RingCyclotronSingleParticle-Angle2.dat
RegressionTests/RingCyclotronSingleParticle/RingCyclotronSingleParticle-afterEachTurn.dat
RegressionTests/RingCyclotronSingleParticle/RingCyclotronSingleParticle-trackOrbit.dat
RegressionTests/RingCyclotronSingleParticle/RingCyclotronSingleParticle.h5
RegressionTests/SAAMG-Test-1/SAAMG-Test-1.h5
RegressionTests/SAAMG-Test-1/timing_MX16_MY16_MZ16_nProc1_recB0_numB0_nLHS1
RegressionTests/SBend-Simple-Test-1/SBend-Simple-Test-1.h5
RegressionTests/SBend-Simple-Test-2/SBend-Simple-Test-2.h5
RegressionTests/SBend-Simple-Test-3/SBend-Simple-Test-3.h5
RegressionTests/SBend-Simple-Test-4/SBend-Simple-Test-4.h5
RegressionTests/Scan-1/Scan-1.h5
RegressionTests/Slit-1/MSLIT1.h5
RegressionTests/Slit-1/SLIT1.h5
RegressionTests/Slit-1/Slit-1.h5
RegressionTests/Slit-2/MSLIT1.h5
RegressionTests/Slit-2/SLIT1.h5
RegressionTests/Slit-2/Slit-2.h5
RegressionTests/VKick-Test-1/VKick-Test-1.h5
RegressionTests/opalimpact-1/opalimpact-1.h5
RegressionTests/VFFA-1/RINGPROBE*
RegressionTests/VFFA-1/*.dat
RegressionTests/VFFA-1/*.h5

