*.pyc
*-RT.o
*~
timing.dat
RegressionTests/BeamLine-1/AMF1_R10.h5
RegressionTests/BeamLine-1/AMF1_R11.h5
RegressionTests/BeamLine-1/AMF1_R12.h5
RegressionTests/BeamLine-1/AMF1_R13.h5
RegressionTests/BeamLine-1/AMF1_R14.h5
RegressionTests/BeamLine-1/AMF1_R15.h5
RegressionTests/BeamLine-1/AMF1_R16.h5
RegressionTests/BeamLine-1/AMF1_R17.h5
RegressionTests/BeamLine-1/AMF1_R18.h5
RegressionTests/BeamLine-1/AMF1_R19.h5
RegressionTests/BeamLine-1/AMF1_R20.h5
RegressionTests/BeamLine-1/AMF1_R21.h5
RegressionTests/BeamLine-1/AMF1_R22.h5
RegressionTests/BeamLine-1/AMF1_R23.h5
RegressionTests/BeamLine-1/AMF1_R24.h5
RegressionTests/BeamLine-1/AMF1_R25.h5
RegressionTests/BeamLine-1/AMF1_R26.h5
RegressionTests/BeamLine-1/AMF1_R27.h5
RegressionTests/BeamLine-1/AMF1_R28.h5
RegressionTests/BeamLine-1/AMF1_R29.h5
RegressionTests/BeamLine-1/AMF1_R9.h5
RegressionTests/BeamLine-1/BeamLine-1.h5
RegressionTests/BeamLine-1/BeamLine-1.lbal
RegressionTests/BeamLine-1/BeamLine-1.out
RegressionTests/BeamLine-1/BeamLine-1.stat
RegressionTests/BeamLine-1/BeamLine-1*.png
RegressionTests/BeamLine-1/MMFP1X.h5
RegressionTests/BeamLine-1/MMFP2Y.h5
RegressionTests/BeamLine-1/MMFP3X.h5
RegressionTests/BeamLine-1/MMFP4Y.h5
RegressionTests/BeamLine-1/MMFP5X.h5
RegressionTests/BeamLine-1/MMFP6Y.h5
RegressionTests/BeamLine-1/QMF4_R0.h5
RegressionTests/BeamLine-1/QMF4_R1.h5
RegressionTests/BeamLine-1/QMF5_R0.h5
RegressionTests/BeamLine-1/QMF5_R1.h5
RegressionTests/BeamLine-1/QMF5_R2.h5
RegressionTests/BeamLine-1/QMF5_R3.h5
RegressionTests/BeamLine-1/QMF6_R0.h5
RegressionTests/BeamLine-1/QMF6_R1.h5
RegressionTests/BeamLine-1/QMF6_R2.h5
RegressionTests/BeamLine-1/QMF6_R3.h5
RegressionTests/BeamLine-1/QMF7_R0.h5
RegressionTests/BeamLine-1/QMF7_R1.h5
RegressionTests/BeamLine-1/QMF7_R2.h5
RegressionTests/BeamLine-1/QMF7_R3.h5
RegressionTests/BeamLine-1/timing.dat
RegressionTests/OpalRingTest/OpalRingTest-trackOrbit.dat
RegressionTests/OpalRingTest/OpalRingTest.h5
RegressionTests/OpalRingTest/PROBE1.loss
RegressionTests/CSRBendDrift/data/
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.h5
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.lbal
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.stat
RegressionTests/EGunCTF3-1/data/
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.h5
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.lbal
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.out
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.stat
RegressionTests/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1_*.png
RegressionTests/RestartTest-1/.copyRestartTest-1.h5
RegressionTests/RestartTest-1/RestartTest-1.h5
RegressionTests/RestartTest-1/RestartTest-1.lbal
RegressionTests/RestartTest-1/RestartTest-1.out
RegressionTests/RestartTest-1/RestartTest-1.stat
RegressionTests/RestartTest-1/RestartTest-1_*.png
RegressionTests/RestartTest-3/RestartTest-3.h5
RegressionTests/RestartTest-3/RestartTest-3.lbal
RegressionTests/RestartTest-3/RestartTest-3.out
RegressionTests/RestartTest-3/RestartTest-3.stat
RegressionTests/RestartTest-3/RestartTest-3_*.png
RegressionTests/RestartTest-4/RestartTest-4.h5
RegressionTests/RestartTest-4/RestartTest-4.lbal
RegressionTests/RestartTest-4/RestartTest-4.out
RegressionTests/RestartTest-4/RestartTest-4.stat
RegressionTests/RestartTest-4/RestartTest-4_*.png
RegressionTests/RestartTest-5/RestartTest-5.h5
RegressionTests/RestartTest-5/RestartTest-5.lbal
RegressionTests/RestartTest-5/RestartTest-5.out
RegressionTests/RestartTest-5/RestartTest-5.stat
RegressionTests/RestartTest-5/RestartTest-5_*.png
RegressionTests/RestartTest-6/RestartTest-6.h5
RegressionTests/RestartTest-6/RestartTest-6.lbal
RegressionTests/RestartTest-6/RestartTest-6.out
RegressionTests/RestartTest-6/RestartTest-6.stat
RegressionTests/RestartTest-6/RestartTest-6_*.png
RegressionTests/RestartTest-7/RestartTest-7.h5
RegressionTests/RestartTest-7/RestartTest-7.lbal
RegressionTests/RestartTest-7/RestartTest-7.out
RegressionTests/RestartTest-7/RestartTest-7.stat
RegressionTests/RestartTest-7/RestartTest-7_*.png
RegressionTests/RestartTest-8/RestartTest-8.h5
RegressionTests/RestartTest-8/RestartTest-8.lbal
RegressionTests/RestartTest-8/RestartTest-8.out
RegressionTests/RestartTest-8/RestartTest-8.stat
RegressionTests/RestartTest-8/RestartTest-8_*.png
RegressionTests/RingCyclotronMatched/data/
RegressionTests/SAAMG-Test-1/data/
RegressionTests/VKick-Test-1/VKick-Test-1.h5
RegressionTests/VKick-Test-1/VKick-Test-1.lbal
RegressionTests/VKick-Test-1/VKick-Test-1.out
RegressionTests/VKick-Test-1/VKick-Test-1.stat
RegressionTests/VKick-Test-1/VKick-Test-1_*.png
RegressionTests/BeamLine-2/AMF1_R*.h5
RegressionTests/BeamLine-2/BeamLine-2.h5
RegressionTests/BeamLine-2/BeamLine-2.lbal
RegressionTests/BeamLine-2/BeamLine-2.out
RegressionTests/BeamLine-2/BeamLine-2.stat
RegressionTests/BeamLine-2/BeamLine-2_*.png
RegressionTests/BeamLine-2/MMFP1X.h5
RegressionTests/BeamLine-2/MMFP2Y.h5
RegressionTests/BeamLine-2/MMFP3X.h5
RegressionTests/BeamLine-2/MMFP4Y.h5
RegressionTests/BeamLine-2/MMFP5X.h5
RegressionTests/BeamLine-2/MMFP6Y.h5
RegressionTests/BeamLine-2/QMF2_R*.h5
RegressionTests/BeamLine-2/QMF4_R*.h5
RegressionTests/BeamLine-2/QMF5_R*.h5
RegressionTests/BeamLine-2/QMF6_R*.h5
RegressionTests/BeamLine-2/QMF7_R*.h5
RegressionTests/CSRBendDrift/CSRBendDrift.h5
RegressionTests/CSRBendDrift/CSRBendDrift.lbal
RegressionTests/CSRBendDrift/CSRBendDrift.out
RegressionTests/CSRBendDrift/CSRBendDrift.stat
RegressionTests/CSRBendDrift/CSRBendDrift_*.png
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.h5
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.lbal
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.out
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1.stat
RegressionTests/DCGun-Cornell-1/DCGun-Cornell-1_*.png
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2.out
RegressionTests/DCGun-Cornell-2/DCGun-Cornell-2_*.png
RegressionTests/Degrader-1/Degrader-1.h5
RegressionTests/Degrader-1/Degrader-1.lbal
RegressionTests/Degrader-1/Degrader-1.out
RegressionTests/Degrader-1/Degrader-1.stat
RegressionTests/Degrader-1/M1.h5
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.h5
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.lbal
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.out
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1.stat
RegressionTests/Distribution-Binomial-1/Distribution-Binomial-1_*.png
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.h5
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.lbal
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.out
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1.stat
RegressionTests/Distribution-Gauss-1/Distribution-Gauss-1_*.png
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.h5
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.lbal
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.out
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2.stat
RegressionTests/Distribution-Gauss-2/Distribution-Gauss-2_*.png
RegressionTests/EGunCTF3-1/EGunCTF3-1.h5
RegressionTests/EGunCTF3-1/EGunCTF3-1.lbal
RegressionTests/EGunCTF3-1/EGunCTF3-1.out
RegressionTests/EGunCTF3-1/EGunCTF3-1.stat
RegressionTests/EGunCTF3-1/EGunCTF3-1_*.png
RegressionTests/EGunCTF3-2/EGunCTF3-2.h5
RegressionTests/EGunCTF3-2/EGunCTF3-2.lbal
RegressionTests/EGunCTF3-2/EGunCTF3-2.out
RegressionTests/EGunCTF3-2/EGunCTF3-2.stat
RegressionTests/EGunCTF3-2/EGunCTF3-2_*.png
RegressionTests/ExternalFieldTest/ExternalFieldTest.h5
RegressionTests/ExternalFieldTest/ExternalFieldTest.lbal
RegressionTests/ExternalFieldTest/ExternalFieldTest.out
RegressionTests/ExternalFieldTest/ExternalFieldTest.stat
RegressionTests/ExternalFieldTest/ExternalFieldTest_*.png
RegressionTests/HKick-Test-1/HKick-Test-1.h5
RegressionTests/HKick-Test-1/HKick-Test-1.lbal
RegressionTests/HKick-Test-1/HKick-Test-1.out
RegressionTests/HKick-Test-1/HKick-Test-1.stat
RegressionTests/HKick-Test-1/HKick-Test-1_*.png
RegressionTests/HKick-Test-2/HKick-Test-2.h5
RegressionTests/HKick-Test-2/HKick-Test-2.lbal
RegressionTests/HKick-Test-2/HKick-Test-2.out
RegressionTests/HKick-Test-2/HKick-Test-2.stat
RegressionTests/HKick-Test-2/HKick-Test-2_*.png
RegressionTests/Kick-Test-1/Kick-Test-1.h5
RegressionTests/Kick-Test-1/Kick-Test-1.lbal
RegressionTests/Kick-Test-1/Kick-Test-1.out
RegressionTests/Kick-Test-1/Kick-Test-1.stat
RegressionTests/Kick-Test-1/Kick-Test-1_*.png
RegressionTests/OpalRingTest/OpalRingTest.lbal
RegressionTests/OpalRingTest/OpalRingTest.out
RegressionTests/OpalRingTest/OpalRingTest.stat
RegressionTests/PROSCAN-1/KMA3I.h5
RegressionTests/PROSCAN-1/KMA3O.h5
RegressionTests/PROSCAN-1/KMA4O.h5
RegressionTests/PROSCAN-1/KMA5I.h5
RegressionTests/PROSCAN-1/KMA5O.h5
RegressionTests/PROSCAN-1/KMAV5.h5
RegressionTests/PROSCAN-1/MMAP10Y.h5
RegressionTests/PROSCAN-1/MMAP9X.h5
RegressionTests/PROSCAN-1/PROSCAN-1.h5
RegressionTests/PROSCAN-1/PROSCAN-1.lbal
RegressionTests/PROSCAN-1/PROSCAN-1.out
RegressionTests/PROSCAN-1/PROSCAN-1.stat
RegressionTests/PROSCAN-1/PROSCAN-1_*.png
RegressionTests/PROSCAN-1/QMA5_R0.h5
RegressionTests/PROSCAN-2/KMA3I.h5
RegressionTests/PROSCAN-2/KMA3O.h5
RegressionTests/PROSCAN-2/KMA4O.h5
RegressionTests/PROSCAN-2/KMA5I.h5
RegressionTests/PROSCAN-2/KMA5O.h5
RegressionTests/PROSCAN-2/KMAV5.h5
RegressionTests/PROSCAN-2/MMAP10Y.h5
RegressionTests/PROSCAN-2/MMAP9X.h5
RegressionTests/PROSCAN-2/PROSCAN-2.h5
RegressionTests/PROSCAN-2/PROSCAN-2.lbal
RegressionTests/PROSCAN-2/PROSCAN-2.out
RegressionTests/PROSCAN-2/PROSCAN-2.stat
RegressionTests/PROSCAN-2/PROSCAN-2_*.png
RegressionTests/PROSCAN-2/QMA5_R0.h5
RegressionTests/PROSCAN-3/KMA3I.h5
RegressionTests/PROSCAN-3/KMA3O.h5
RegressionTests/PROSCAN-3/KMA4O.h5
RegressionTests/PROSCAN-3/KMA5I.h5
RegressionTests/PROSCAN-3/KMA5O.h5
RegressionTests/PROSCAN-3/KMAV5.h5
RegressionTests/PROSCAN-3/MMAP10Y.h5
RegressionTests/PROSCAN-3/MMAP9X.h5
RegressionTests/PROSCAN-3/PROSCAN-3.h5
RegressionTests/PROSCAN-3/PROSCAN-3.lbal
RegressionTests/PROSCAN-3/PROSCAN-3.out
RegressionTests/PROSCAN-3/PROSCAN-3.stat
RegressionTests/PROSCAN-3/PROSCAN-3_*.png
RegressionTests/PROSCAN-3/QMA5_R0.h5
RegressionTests/PROSCAN-4/KMA3I.h5
RegressionTests/PROSCAN-4/KMA3O.h5
RegressionTests/PROSCAN-4/KMA4O.h5
RegressionTests/PROSCAN-4/KMA5I.h5
RegressionTests/PROSCAN-4/KMA5O.h5
RegressionTests/PROSCAN-4/KMAV5.h5
RegressionTests/PROSCAN-4/MMAP10Y.h5
RegressionTests/PROSCAN-4/MMAP11X.h5
RegressionTests/PROSCAN-4/MMAP12Y.h5
RegressionTests/PROSCAN-4/MMAP9X.h5
RegressionTests/PROSCAN-4/PROSCAN-4.h5
RegressionTests/PROSCAN-4/PROSCAN-4.lbal
RegressionTests/PROSCAN-4/PROSCAN-4.out
RegressionTests/PROSCAN-4/PROSCAN-4.stat
RegressionTests/PROSCAN-4/PROSCAN-4_*.png
RegressionTests/PROSCAN-4/QMA5_R0.h5
RegressionTests/PSIGUN-1/PSIGUN-1.h5
RegressionTests/PSIGUN-1/PSIGUN-1.lbal
RegressionTests/PSIGUN-1/PSIGUN-1.out
RegressionTests/PSIGUN-1/PSIGUN-1.stat
RegressionTests/PSIGUN-1/PSIGUN-1_*.png
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.h5
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.lbal
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.out
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1.stat
RegressionTests/ParallelPlateFurman1/ParallelPlateFurman1_*.png
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.h5
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.lbal
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.out
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1.stat
RegressionTests/ParallelPlateVaughan1/ParallelPlateVaughan1_*.png
RegressionTests/PerfectDiode/PerfectDiode.h5
RegressionTests/PerfectDiode/PerfectDiode.lbal
RegressionTests/PerfectDiode/PerfectDiode.out
RegressionTests/PerfectDiode/PerfectDiode.stat
RegressionTests/PerfectDiode/PerfectDiode_*.png
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1.h5
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1.lbal
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1.out
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1.stat
RegressionTests/Quad-Simple-Test-1/Quad-Simple-Test-1_*.png
RegressionTests/RBend-Simple-Test-1/RBend-Simple-Test-1.h5
RegressionTests/RBend-Simple-Test-1/RBend-Simple-Test-1.lbal
RegressionTests/RBend-Simple-Test-1/RBend-Simple-Test-1.out
RegressionTests/RBend-Simple-Test-1/RBend-Simple-Test-1.stat
RegressionTests/RBend-Simple-Test-1/RBend-Simple-Test-1_*.png
RegressionTests/RBend-Simple-Test-2/RBend-Simple-Test-2.h5
RegressionTests/RBend-Simple-Test-2/RBend-Simple-Test-2.lbal
RegressionTests/RBend-Simple-Test-2/RBend-Simple-Test-2.out
RegressionTests/RBend-Simple-Test-2/RBend-Simple-Test-2.stat
RegressionTests/RBend-Simple-Test-2/RBend-Simple-Test-2_*.png
RegressionTests/RBend-Simple-Test-3/RBend-Simple-Test-3.h5
RegressionTests/RBend-Simple-Test-3/RBend-Simple-Test-3.lbal
RegressionTests/RBend-Simple-Test-3/RBend-Simple-Test-3.out
RegressionTests/RBend-Simple-Test-3/RBend-Simple-Test-3.stat
RegressionTests/RBend-Simple-Test-3/RBend-Simple-Test-3_*.png
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4.h5
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4.lbal
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4.out
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4.stat
RegressionTests/RBend-Simple-Test-4/RBend-Simple-Test-4_*.png
RegressionTests/RestartTest-2/RestartTest-2-trackOrbit.dat
RegressionTests/RestartTest-2/RestartTest-2.h5
RegressionTests/RestartTest-2/RestartTest-2.lbal
RegressionTests/RestartTest-2/RestartTest-2.out
RegressionTests/RestartTest-2/RestartTest-2.stat
RegressionTests/RestartTest-2/RestartTest-2_*.png
RegressionTests/RingCyclotron/RingCyclotron-trackOrbit.dat
RegressionTests/RingCyclotron/RingCyclotron.h5
RegressionTests/RingCyclotron/RingCyclotron.lbal
RegressionTests/RingCyclotron/RingCyclotron.out
RegressionTests/RingCyclotron/RingCyclotron.stat
RegressionTests/RingCyclotronMTS/RingCyclotronMTS-trackOrbit.dat
RegressionTests/RingCyclotronMTS/RingCyclotronMTS.h5
RegressionTests/RingCyclotronMTS/RingCyclotronMTS.lbal
RegressionTests/RingCyclotronMTS/RingCyclotronMTS.out
RegressionTests/RingCyclotronMTS/RingCyclotronMTS.stat
RegressionTests/RingCyclotronMatched/RingCyclotronMatched-trackOrbit.dat
RegressionTests/RingCyclotronMatched/RingCyclotronMatched.h5
RegressionTests/RingCyclotronMatched/RingCyclotronMatched.lbal
RegressionTests/RingCyclotronMatched/RingCyclotronMatched.out
RegressionTests/RingCyclotronMatched/RingCyclotronMatched.stat
RegressionTests/SAAMG-Test-1/SAAMG-Test-1.h5
RegressionTests/SAAMG-Test-1/SAAMG-Test-1.lbal
RegressionTests/SAAMG-Test-1/SAAMG-Test-1.out
RegressionTests/SAAMG-Test-1/SAAMG-Test-1.stat
RegressionTests/SAAMG-Test-1/SAAMG-Test-1_*.png
RegressionTests/SAAMG-Test-1/timing_MX16_MY16_MZ16_nProc1_recB0_numB0_nLHS1
RegressionTests/SBend-Simple-Test-1/SBend-Simple-Test-1.h5
RegressionTests/SBend-Simple-Test-1/SBend-Simple-Test-1.lbal
RegressionTests/SBend-Simple-Test-1/SBend-Simple-Test-1.out
RegressionTests/SBend-Simple-Test-1/SBend-Simple-Test-1.stat
RegressionTests/SBend-Simple-Test-1/SBend-Simple-Test-1_*.png
RegressionTests/SBend-Simple-Test-2/SBend-Simple-Test-2.h5
RegressionTests/SBend-Simple-Test-2/SBend-Simple-Test-2.lbal
RegressionTests/SBend-Simple-Test-2/SBend-Simple-Test-2.out
RegressionTests/SBend-Simple-Test-2/SBend-Simple-Test-2.stat
RegressionTests/SBend-Simple-Test-2/SBend-Simple-Test-2_*.png
RegressionTests/SBend-Simple-Test-3/SBend-Simple-Test-3.h5
RegressionTests/SBend-Simple-Test-3/SBend-Simple-Test-3.lbal
RegressionTests/SBend-Simple-Test-3/SBend-Simple-Test-3.out
RegressionTests/SBend-Simple-Test-3/SBend-Simple-Test-3.stat
RegressionTests/SBend-Simple-Test-3/SBend-Simple-Test-3_*.png
RegressionTests/SBend-Simple-Test-4/SBend-Simple-Test-4.h5
RegressionTests/SBend-Simple-Test-4/SBend-Simple-Test-4.lbal
RegressionTests/SBend-Simple-Test-4/SBend-Simple-Test-4.out
RegressionTests/SBend-Simple-Test-4/SBend-Simple-Test-4.stat
RegressionTests/SBend-Simple-Test-4/SBend-Simple-Test-4_*.png
RegressionTests/Scan-1/Scan-1.h5
RegressionTests/Scan-1/Scan-1.lbal
RegressionTests/Scan-1/Scan-1.out
RegressionTests/Scan-1/Scan-1.stat
RegressionTests/Scan-1/Scan-1_*.png
RegressionTests/opalimpact-1/opalimpact-1.h5
RegressionTests/opalimpact-1/opalimpact-1.lbal
RegressionTests/opalimpact-1/opalimpact-1.out
RegressionTests/opalimpact-1/opalimpact-1.stat
RegressionTests/opalimpact-1/opalimpact-1_*.png
RegressionTests/results.xml
RegressionTests/results/