.keytab
*~
*.pyc
*.png

*_DesignPath.dat
*_ElementPositions.py
*_ElementPositions.sdds
*_ElementPositions.txt
*_Monitors.stat
*_3D.opal
*_DesignPath.dat
*_ElementPositions.py
*_ElementPositions.sdds
*_ElementPositions.txt
*_Monitors.stat
*_3D.opal

# For OPAL-maps
*.dispersion
*.map

*/*/*-RT.o
*/*/*.grid
*/*/*.lbal
*/*/*.mem
*/*/*.out
*/*/*.smb
*/*/*.stat
*/*/AMF*.h5
*/*/KMA*.h5
*/*/KMB*.h5
*/*/M1*.h5
*/*/MM*.h5
*/*/MMF*.h5
*/*/QMA*.h5
*/*/QMF*.h5
*/*/*onebunch.h5
*/*/data
*/*/errormsg.txt
*/*/test.dat
*/*/timing.dat

*/results.xml
*/results/
*/timing.dat

*/AmrRingCyclotron-*/AmrRingCyclotron-*-trackOrbit.dat
*/AmrRingCyclotron-*/AmrRingCyclotron-*.h5
*/AWAGun-1/AWAGun-1.h5
*/AWAGun-TrackBack-1/AWAGun-TrackBack-1.h5
*/BC1-1_fixme/BC1-1.h5
*/BeamLine-1/BeamLine-1.h5
*/BeamLine-2/BeamLine-2.h5
*/CSRBendDrift/CSRBendDrift.h5
*/DCGun-Cornell-1/DCGun-Cornell-1.h5
*/DCGun-Cornell-2/DCGun-Cornell-2.h5
*/Degrader-1/Degrader-1.h5
*/Degrader-1/M*.h5
*/Degrader-2/Degrader-2.h5
*/Distribution-Binomial-1/Distribution-Binomial-1.h5
*/Distribution-Gauss-1/Distribution-Gauss-1.h5
*/Distribution-Gauss-2/Distribution-Gauss-2.h5
*/Distribution-MultiGauss/Distribution-MultiGauss.h5
*/EGunCTF3-1/EGunCTF3-1.h5
*/EGunCTF3-2/EGunCTF3-2.h5
*/Elliptic-1/ELCO.h5
*/Elliptic-1/Elliptic-1.h5
*/Elliptic-1/MELCO.h5
*/Envelope-Tracker-Phase1/Envelope-Tracker-Phase1.h5
*/ExternalFieldTest/ExternalFieldTest.h5
*/GasStripping/GasStripping-trackOrbit.dat
*/GasStripping/GasStripping.h5
*/HKick-Test-1/HKick-Test-1.h5
*/HKick-Test-2/HKick-Test-2.h5
*/Kick-Test-1/Kick-Test-1.h5
*/LaserEmission-1/LaserEmission-1.h5
*/MAP-Circular/MAP-Circular.h5
*/MAP-FODO/MAP-FODO.h5
*/MAP-FODODipole/MAP-FODODipole.h5
*/MAP-Gantry2/MAP-Gantry2.h5
*/OpalRingTest/OpalRingTest-trackOrbit.dat
*/OpalRingTest/OpalRingTest.h5
*/OpalRingTest/PROBE1.hist
*/OpalRingTest/PROBE1.loss
*/OpalRingTest/PROBE1.loss
*/OpalRingTest/PROBE1.peaks
*/OpalRingTest/RINGDEF.loss
*/OpalRingTest/RINGDEF.loss
*/P3MSwissFEL/P3MSwissFEL.h5
*/PROSCAN-1/PROSCAN-1.h5
*/PROSCAN-2/PROSCAN-2.h5
*/PROSCAN-3/PROSCAN-3.h5
*/PROSCAN-4/PROSCAN-4.h5
*/PSIGUN-1/PSIGUN-1.h5
*/ParallelPlateFurman1/ParallelPlateFurman1.SurfaceLoss.h5
*/ParallelPlateFurman1/ParallelPlateFurman1.h5
*/ParallelPlateVaughan1/ParallelPlateVaughan1.h5
*/PerfectDiode/PerfectDiode.h5
*/Quad-Simple-Test-1/Quad-Simple-Test-1.h5
*/Quad-Simple-Test-1/Quad-Simple-Test-1.lbal
*/RBend-Simple-Test-1/RBend-Simple-Test-1.h5
*/RBend-Simple-Test-2/RBend-Simple-Test-2.h5
*/RBend-Simple-Test-3/RBend-Simple-Test-3.h5
*/RBend-Simple-Test-4/RBend-Simple-Test-4.h5
*/RBend-Simple-Test-4/RBend-Simple-Test-4.h5
*/RestartTest-1/RestartTest-1.h5
*/RestartTest-2/RestartTest-2-trackOrbit.dat
*/RestartTest-2/RestartTest-2.h5
*/RestartTest-3/RestartTest-3.h5
*/RestartTest-4/RestartTest-4.h5
*/RestartTest-5/RestartTest-5.h5
*/RestartTest-6/RestartTest-6.h5
*/RestartTest-6/RestartTest-6.h5
*/RestartTest-6/RestartTest-6.h5.ref
*/RestartTest-6/RestartTest-6.lbal.ref
*/RestartTest-6/RestartTest-6.stat.md5
*/RestartTest-6/RestartTest-6.stat.ref
*/RestartTest-7/RestartTest-7.h5
*/RestartTest-8/RestartTest-8.h5
*/RingCyclotron/RingCyclotron-trackOrbit.dat
*/RingCyclotron/RingCyclotron.h5
*/RingCyclotronMTS/RingCyclotronMTS-trackOrbit.dat
*/RingCyclotronMTS/RingCyclotronMTS.h5
*/RingCyclotronMatched/RingCyclotronMatched-trackOrbit.dat
*/RingCyclotronMatched/RingCyclotronMatched.h5
*/RingCyclotronSingleParticle/RingCyclotronSingleParticle-Angle0.dat
*/RingCyclotronSingleParticle/RingCyclotronSingleParticle-Angle1.dat
*/RingCyclotronSingleParticle/RingCyclotronSingleParticle-Angle2.dat
*/RingCyclotronSingleParticle/RingCyclotronSingleParticle-afterEachTurn.dat
*/RingCyclotronSingleParticle/RingCyclotronSingleParticle-trackOrbit.dat
*/RingCyclotronSingleParticle/RingCyclotronSingleParticle.h5
*/SAAMG-Test-1/SAAMG-Test-1.h5
*/SAAMG-Test-1/timing_MX16_MY16_MZ16_nProc1_recB0_numB0_nLHS1
*/SBend-Simple-Test-1/SBend-Simple-Test-1.h5
*/SBend-Simple-Test-2/SBend-Simple-Test-2.h5
*/SBend-Simple-Test-3/SBend-Simple-Test-3.h5
*/SBend-Simple-Test-4/SBend-Simple-Test-4.h5
*/Scan-1/Scan-1.h5
*/Slit-1/MSLIT1.h5
*/Slit-1/SLIT1.h5
*/Slit-1/Slit-1.h5
*/Slit-2/MSLIT1.h5
*/Slit-2/SLIT1.h5
*/Slit-2/Slit-2.h5
*/UndulatorAWA/UndulatorAWA.h5
*/VKick-Test-1/VKick-Test-1.h5
*/opalimpact-1/opalimpact-1.h5
*/VFFA-1/RINGPROBE*
*/VFFA-1/*.dat
*/VFFA-1/*.h5

